<!--
    File name: BasicCreatureBlock.html
    By: Daniel Lamothe

    Purpose: This template creates the basic structure for an HTML statblock representation of a fantasy creature.
-->
<div contenteditable="true"  style="width:310px; font-family:Arial,Helvetica,sans-serif;font-size:11px;">

<div style="font-size: 18; font-weight: bold;"> $name </div>
<div> $size $type, $alignment </div>

<div style="background: linear-gradient(10deg, black, white);
    height:5px;
    margin:7px 0px;">
</div>

<div>
	<div><span>Armor Class</span><span> $ac </span></div>
	<div><span>Hit Points</span><span> $hp </span></div>
	<div><span>Speed</span><span> $speed </span></div>
</div>

<div style="background: linear-gradient(10deg, black, white);
    height:5px;
    margin:7px 0px;">
</div>

<table>
    <tr><th>STR    </th><th>DEX   </th><th>CON    </th><th>INT   </th><th>WIS   </th><th>CHA   </th></tr>
    <tr><td> $str </td><td> $dex </td><td> $con </td><td> $int </td><td> $wis </td><td> $cha </td></tr>
</table>

<div>
	<div><span style = "font-weight: bold;">Senses</span><span> $senses </span></div>
	<div><span style = "font-weight: bold;">Languages</span><span> $languages </span></div>
	<div><span style = "font-weight: bold;">Challenge</span><span> $challenge </span></div>
</div>

<div style="background: linear-gradient(10deg, black, white);
    height:5px;
    margin:7px 0px;">
</div>

<div style="font-size: 13; font-style: italic;">Actions</div>

<div><span style="font-weight: bold;"> $attack </span><span> $attackDescription </span></div>
<div><span> Attack:</span> $attackHit</div>
<div><span> Hit:</span> $attackDamage </div>
</div>